body, .tooltip {
    font-family: 'Open Sans', sans-serif;
}

.header-bar {
    background-color: #292929;
}

/* Sidebar for desktop */
.sidebar {
  width: 250px;
  height: 100vh;
}
@media (max-width: 768px) {
  .sidebar {
    display: none; /* hide fixed sidebar on mobile */
  }
}

/* Push content on desktop */
@media (min-width: 769px) {
  .main-content {
    margin-left: 250px; /* same as sidebar width */
  }
}

