body, .tooltip {
    font-family: 'Open Sans', sans-serif;
}

.header-bar {
    background-color: #292929;
}

/* Sidebar for desktop */

@media (max-width: 768px) {
  .sidebar {
    width: 150px; /* smaller screens */
  }
}
@media (max-width: 575px) {
  .sidebar {
    width: 100px;
  }
}
.sidebar{
  width: 250px;
  height: 100vh;
}






